.wrapper, .view {
    display: block;
    position: relative;
    width: 100%;
    height: 100%;
}

.wrapper {
    padding: 50px;
    box-sizing: border-box;
}

.node {
    position: absolute;
    display: inline-block;
    width: 20px;
    height: 20px;
    line-height: 20px;
    text-align: center;
    margin: -10px 0 0 -10px;
    padding: 5px;
    border: 1px #ccc solid;
    border-radius: 10px;
    background: #fff;
    color: #000;

    transition: left 0.5s ease-out, top 0.5s ease-out;
}

.link {
    stroke: #000;
}
